In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn.linear_model import LinearRegression

import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("cryptocurreny.csv")
df.head()

,Unnamed: 0,open,high,low,close,volume,marketCap,timestamp,crypto_name,date
0,0,112.900002,118.800003,107.142998,115.910004,0.0,1.288693e+09,2013-05-05T23:59:59.999Z,Bitcoin,2013-05-05
1,1,3.493130,3.692460,3.346060,3.590890,0.0,6.229819e+07,2013-05-05T23:59:59.999Z,Litecoin,2013-05-05
2,2,115.980003,124.663002,106.639999,112.300003,0.0,1.249023e+09,2013-05-06T23:59:59.999Z,Bitcoin,2013-05-06
3,3,3.594220,3.781020,3.116020,3.371250,0.0,5.859436e+07,2013-05-06T23:59:59.999Z,Litecoin,2013-05-06
4,4,112.250000,113.444000,97.699997,111.500000,0.0,1.240594e+09,2013-05-07T23:59:59.999Z,Bitcoin,2013-05-07

In [4]:
df=df.drop(columns=(['timestamp','date']))

In [5]:
df.fillna(0, inplace=True)

In [6]:
X=df[['open','high','low','close','volume']]

In [7]:
y=df[['marketCap']]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
y_train

          marketCap
8675   2.256194e+07
5886   1.751753e+07
21830  0.000000e+00
64278  7.093157e+09
48359  1.067684e+09
...             ...
38296  1.067784e+09
9033   3.646169e+07
42697  5.625277e+09
26445  4.877576e+09
7841   8.253053e+08

[58356 rows x 1 columns]

In [9]:
rfc = LinearRegression()
rfc.fit(X_train, y_train)

LinearRegression()

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [11]:
rfr=RandomForestRegressor()
rfr.fit(X_train, y_train)
rfracc=rfr.score(X_test, y_test)*100
rfracc

C:\Users\gkvte\AppData\Local\Temp\ipykernel_1300\153579477.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(X_train, y_train)

99.15661674553596

In [12]:
gbr=GradientBoostingRegressor()
gbr.fit(X_train, y_train)
prediction=gbr.predict(X_test)
gbracc=gbr.score(X_test, y_test)*100
gbracc

C:\Users\gkvte\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

98.14690551602659

In [19]:
pr=gbr.predict([[112.900002,118.800003,107.142998,115.910004,0.0]])
pred_no = format(pr[0], ".2f")
pred_no

C:\Users\gkvte\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

'920802817.14'